/* index.css */
.klclass {
    width: 130px;
    height: 30px;
    background-color: #fa9a34;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.klclass:hover {
    background-color: #faa448!important;
    color: #000!important;
    transition: all 0.3s ease 0.1s
}
/* .klclass:hover {
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
} */
